[alias]
[diff]
	renames = true
[http]
	postBuffer = 524288000
[color]
	ui = true
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/adamc/.gitignore_global
[user]
	name = Adam Cardenas
	email = cevaris@gmail.com
[merge]
	tool = opendiff
[branch "master"]
	remote = origin
	merge = refs/heads/master
